@mixin normlize (){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", serif;
}
@mixin container($width){
    max-width: $width;
    margin: 20px auto;
}
@mixin flex($dis,$direction,$align,$justify,$gap){
    display: $dis;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}
@mixin button($width,$padding,$padding2,$font){
    width: $width;
    color: $white;
    padding: $padding $padding2;
    border-radius: 100px;
    border: none;
    font-size: $font;
    text-transform: uppercase;
}