@import "vars";
@import "mixins";

*{
    @include normlize();
}
button{
    font-family: "DM Sans", serif;
}
body{
    background-color: $smoke-gray;
}
main{
    @include container(390px);
}
header{
    @include flex(flex,row,center,space-between,0px);
    .humber-menu{
        @include flex(flex,column,center,start,7px);
        background-color: $primary;
        padding: 13px 10px;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        .humber-items{
            width: 30px;
            height: 3px;
            background-color: $white;
        }
    }
}