::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

button {
  font-family: "DM Sans", serif;
  width: 100%;
  color: #ffffff;
  padding: 20px 0px;
  border-radius: 100px;
  border: none;
  font-size: 19px;
  text-transform: uppercase;
}

body {
  background-color: #050605;
  overflow-x: hidden;
}

main {
  max-width: 390px;
  margin: 20px auto;
}
main .g {
  background-color: #88B702;
}
main .w {
  background-color: rgb(44, 44, 44);
}
main .shadow {
  width: 100%;
  height: 300px;
  background-color: #88B702;
  filter: blur(700px);
  border-radius: 100%;
  position: absolute;
  z-index: -5;
  bottom: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
header .humber-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 7px;
  background-color: #88B702;
  padding: 13px 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: 15%;
}
header .humber-menu .humber-items {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
}

section {
  margin-top: 40px;
}
section h1 {
  color: #ffffff;
  font-size: 45px;
}
section p {
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  margin-top: 30px;
  line-height: 30px;
}
section .btns {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 15px;
  margin-top: 50px;
}
section img {
  width: 100%;
  margin-top: 40px;
}

ul {
  display: none;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 0;
}

.d {
  display: none;
}

@media only screen and (min-width: 900px) {
  main {
    max-width: 1300px;
    margin: 20px auto;
  }
  main .shadow {
    width: 300px;
    height: 300px;
    right: 0;
  }
  .d {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 40px;
    list-style: none;
    color: #ffffff;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 60px;
  }
  header .humber-menu {
    display: none;
  }
  header button {
    width: 16%;
    color: #ffffff;
    padding: 20px 0px;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  section div {
    width: 60%;
    margin-top: 90px;
  }
  section h1 {
    font-size: 60px;
    max-width: 650px;
  }
  section p {
    margin-top: 10px;
    max-width: 500px;
  }
  section .btns {
    flex-direction: row;
    width: 70%;
  }
  section .btns button {
    width: 100%;
    color: #ffffff;
    padding: 20px 10px;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
  }
  section img {
    position: absolute;
    right: -300px;
    top: 100px;
    width: 55%;
  }
}/*# sourceMappingURL=style.css.map */